
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #555;
    background: #fff;
}

img {
    display: block;
    max-width: 100%;
}
/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 20px 60px;
}

.logo img {
    height: 30px;
}

.menu {
    display: flex;
    gap: 8px;
}
/* Menu Homeetc*/

.nav-link {
    color: #fff9f9;
    font-size: 13px;
    padding: 5px 12px;
    border-radius: 3px;
    text-decoration: none;
}


/* HERO*/
.hero {
    display: flex;
    align-items: stretch;
    background-color: #2c3e50;
    color: #fff;
    min-height: 380px;
    position: relative;
}

/*CELULAR*/

.iPhone {
    display: flex;
    align-items: flex-end;
    padding-left: 80px;
    
}

.iPhone img {
    height: 360px;
    display: block;
    
}

/*TEXTO AL LADO DEL TELEFONO*/

.hero .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 80px 60px 60px;
    
}


.hero h1 {
    font-size: 34px;
    color: #fff;
    margin-bottom: 18px;
    
}

.hero .hero p {
    font-size: 13px;
    color: rgba(255,255,255,0.65);
    margin-bottom: 10px;
    max-width: 380px;

}

.hero-actions {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 24px;
    flex-wrap: wrap;
}

.btn-primary {
    background-color: #3587d3;
    color: #fff;
    padding: 10px 22px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}

/* RECENT WORK ENLACE*/
.btn-link {
    color: rgba(255, 255, 255, 0.75);
    font-size: 13px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding-bottom: 1px;
    text-decoration: none;
}


/* LOGOS */
.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 30px 20px;
    background: #ebeaea;
    flex-wrap: wrap;
    color:#888;
}


/* BENEFICIOS */
.beneficios {
    display: flex;
    justify-content: center;
    padding: 50px 50px;
    background: #fff;
    text-align: center;
}

.card1, .card2, .card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.card1 img, .card2 img, .card3 img {
    width: 70px;
    height: 70px;
    margin-bottom: 18px;
}

.card1 h3, .card2 h3, .card3 h3 {
    font-size: 16px;
    font-weight: 400;
    color: #464545;
    margin-bottom: 12px;
}

.card1 p, .card2 p, .card3 p {
    font-size: 13px;
    color: #888;
    line-height: 1.6;
    margin-bottom: 18px;
}

.read-btn {
    background-color: #3587d3;
    color: #fff;
    border: 10px;
    padding: 7px 18px;
    border-radius: 3px;
    font-size: 12px;
    
}


/* SELECTED PROJECTS*/

.proyectos {
    background: #ffffff;
    padding: 40px 60px;
}

.proyectos > h3 {
    font-size: 15px;
    color: #4d4c4c;
    display: flex;
    align-items: center;
    gap: 10px;
}

.imagenes.proyectos {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.imagenes.proyectos img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/*  BLOG + TWITTER */
.bottom-section {
    display: flex;
    gap: 40px;
    padding: 40px 60px;
    background: #ffffff;
}

.blog {
    flex: 1;
}

.blog h3 {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #5c5b5b;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
}

.blog h3 .icono-blog {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.twitter-feed {
    flex: 1;
    border-left: 1px solid #ffffff;
    padding-left: 40px;
}

.twitter-feed h3 {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #272727;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
}

.twitter-feed h3 .icono-twitter {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}


/* Blog posts */
.blog-post {
    display: flex;
    gap: 14px;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

.blog-post img {
    width: 80px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}

.blog-text h4 {
    font-size: 13px;
    font-weight: 600;
    color: #444;
    margin-bottom: 5px;
}

.blog-text p {
    font-size: 12px;
    color: #888;
    line-height: 1.5;
    margin-bottom: 5px;
}

.date {
    font-size: 11px;
    color: #bbb;
}

.older-entries {
    display:flex;
    margin-top: 10px;
    font-size: 12px;
    color: #1da1f2;
    text-decoration: none;
}


/* Tweets */
.tweet {
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.tweet p {
    font-size: 12px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 4px;
}

.tweet p strong {
    color: #1da1f2;
}

.follow-twitter {
    display: flex;
    margin-top: 10px;
    font-size: 12px;
    color: #1da1f2;
    text-decoration: none;
}

.follow-twitter:hover {
    color: #0d8fd6;
    border-color: #0d8fd6;

}

/* FOOTER */

.footer {
    background: #ffffff;
    padding: 16px 60px;
    border-top: 1px solid #eee;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    font-size: 12px;
    color: #858383;
}

.social-links {
    display: flex;
    gap: 8px;
    align-items: center;
}

.social-links img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}


